.welcome
{
    padding: 40px 100px;
    margin-top: -75px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.2);

    h1
    {
        color: #333;
        margin-bottom: 25px;
    }

    .home-btn
    {
        margin-top: 10px;
        padding: 10px 30px;
        border-radius: 30px;
        color: #fff;
        background-color: #013f7e;
    }

    .btn:focus
    {
        box-shadow: none;
    }
}